.column
  %ul.unstyled

    %li.category-header
      %h2 Projects

    %li.shortcut.blue.auto-open
      .headline
        %img{ src: 'http://twitter.github.com/bootstrap/assets/ico/favicon.png', height: 16, width: 16 }
        Bootstrap
      .sublinks
        .separator
        %ul.unstyled
          %li
            %a{ href: '#' } Development
          %li
            %a{ href: '#' } Production
          %li
            %a{ href: '#' } BugTracker

    %li.shortcut.auto-open
      .headline
        %img{ src: 'http://backbonejs.org/docs/images/favicon.ico', height: 16, width: 16 }
        Backbone.js
      .sublinks
        .separator
        %ul.unstyled
          %li
            %a{ href: '#' } Development
          %li
            %a{ href: '#' } Production
          %li
            %a{ href: '#' } BugTracker

    %li.shortcut.red.auto-open
      .headline
        %img{ src: 'http://fortawesome.github.com/Font-Awesome/assets/ico/favicon.ico', height: 16, width: 16 }
        Fontawesome
      .sublinks
        .separator
        %ul.unstyled
          %li
            %a{ href: '#' } Development
          %li
            %a{ href: '#' } Production
          %li
            %a{ href: '#' } BugTracker

    %li.shortcut.green.auto-open
      .headline
        Fontawesome
      .sublinks
        .separator
        %ul.unstyled
          %li
            %a{ href: '#' } Development
          %li
            %a{ href: '#' } Production
          %li
            %a{ href: '#' } BugTracker

    %li.shortcut.yellow.auto-open
      .headline
        Fontawesome
      .sublinks
        .separator
        %ul.unstyled
          %li
            %a{ href: '#' } Development
          %li
            %a{ href: '#' } Production
          %li
            %a{ href: '#' } BugTracker

    %li.shortcut.orange.auto-open
      .headline
        Fontawesome
      .sublinks
        .separator
        %ul.unstyled
          %li
            %a{ href: '#' } Development
          %li
            %a{ href: '#' } Production
          %li
            %a{ href: '#' } BugTracker

    %li.shortcut.black.auto-open
      .headline
        Fontawesome
      .sublinks
        .separator
        %ul.unstyled
          %li
            %a{ href: '#' } Development
          %li
            %a{ href: '#' } Production
          %li
            %a{ href: '#' } BugTracker


.column
  %ul.unstyled

    %li.category-header
      %h2 Frameworks

    %li.shortcut.yellow
      .headline JetBrains
      .infos
        Seamlessly negotiate backward-compatible services whereas global experiences. Progressively embrace turnkey potentialities vis-a-vis go forward results. Appropriately incentivize bleeding-edge portals for distinctive ideas. Conveniently repurpose value-added.

    %li.shortcut.orange
      .headline JetBrains
      .infos
        Seamlessly negotiate backward-compatible services whereas global experiences. Progressively embrace turnkey potentialities vis-a-vis go forward results. Appropriately incentivize bleeding-edge portals for distinctive ideas. Conveniently repurpose value-added.

    %li.shortcut.green
      .headline
        %img{ src: 'assets/sample.png' }