.column
  %ul.unstyled

    %li.category-header
      %h2 Projects

    %li.shortcut.blue
      .headline Bootstrap

    %li.shortcut
      .headline Project X
      .separator
      %ul.unstyled
        %li
          %a{ href: '#' } Development
        %li
          %a{ href: '#' } Production
        %li
          %a{ href: '#' } BugTracker

    %li.shortcut.red
      .headline
        %a{ href: '#' } Fontawesome


.column
  %ul.unstyled

    %li.category-header
      %h2 Frameworks

    %li.shortcut.yellow
      .headline JetBrains
      .infos
        Seamlessly negotiate backward-compatible services whereas global experiences. Progressively embrace turnkey potentialities vis-a-vis go forward results. Appropriately incentivize bleeding-edge portals for distinctive ideas. Conveniently repurpose value-added.

    %li.shortcut
      .headline
        %a{ href: '#' }
          %img{ src: 'assets/sample.png' }