.sublink
  .controls
    %input.title{ type: 'text', placeholder: 'Title', name: 'title', value: sublink['title'] }
    %input.title{ type: 'text', placeholder: 'Url',   name: 'url',   value: sublink['url'] }
    %a.remove.btn.btn-small.btn-danger
      %i.icon-remove
    %i.icon-reorder