@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";
@import 'variables';

.column {
  width: 250px;
  float: left;
  margin-bottom: 100px;
  margin-left: 10px !important;
  min-height: 400px;
}

.category-header {
  text-align: center;
  color: rgb(80,80,80);
  text-shadow: 1px 1px 1px rgb(255,255,255);
}

.shortcut {
  width: auto;
  padding: 10px;
  margin: 0 0 5px 0;
  .border-radius(10px);
  .box-shadow(~"2px 3px 4px rgba(0, 0, 0, 0.2), -2px 3px 4px rgba(0, 0, 0, 0.2), 2px -1px 4px rgba(0, 0, 0, 0.2), -2px -1px 4px rgba(0, 0, 0, 0.2)");

  .headline {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    img {
      position: relative;
      top: -1px;
    }
    a { text-decoration: none; }
  }

  border: 4px solid @white;
  background: @white;
  border-color: @white_light;
  &:hover { border-color: @white_dark; }

  &.blue { border-color: @blue_light; }
  &.blue .headline, &.blue a { color: @blue_dark; }
  &.blue a:hover { color: @blue_darker; }
  &.blue:hover { border-color: @blue; }

  &.red { border-color: @red_light; }
  &.red .headline, &.red a { color: @red_dark; }
  &.red a:hover { color: @red_darker; }
  &.red:hover { border-color: @red; }

  &.green { border-color: @green_light; }
  &.green .headline, &.green a { color: @green_dark; }
  &.green a:hover { color: @green_darker; }
  &.green:hover { border-color: @green; }

  &.yellow { border-color: @yellow_light; }
  &.yellow .headline, &.yellow a { color: @yellow_dark; }
  &.yellow a:hover { color: @yellow_darker; }
  &.yellow:hover { border-color: @yellow; }

  &.orange { border-color: @orange_light; }
  &.orange .headline, &.orange a { color: @orange_dark; }
  &.orange a:hover { color: @orange_darker; }
  &.orange:hover { border-color: @orange; }

  &.black { border-color: @black_light; }
  &.black .headline, &.black a { color: @black_dark; }
  &.black a:hover { color: @black_darker; }
  &.black:hover { border-color: @black; }

  .separator {
    width:  100%;
    margin: 2px 0;
    border-top: 1px dotted grey;
  }

  &.auto-open .sublinks {
    display: none;
  }

  .toggle-buttons a { text-decoration: none; }

  .arrange-buttons a {
    i { width: 0.8em; }

    &.edit, &.move {
      color: lighten(black, 30%);
      &:hover { color: black; }
    }

    &.remove {
      color: lighten(red, 30%);
      &:hover { color: red; }
    }
  }
}
