body { background-image: url(background_4.jpg); }

.hide {
  display: none;
}

.container.first {
  margin-top: 70px;
}

.navbar-fixed-top {
  text-align: center;
  .title {
    color:  #F0F0F0;
    font-size: 22px;
    position: relative;
    top: 10px;
    margin: 0 50px;
  }
}

.navbar-fixed-bottom {
  &.second {
    bottom: 42px;
    text-align: center;

    .title, ul {
      display: inline-block;
      float: none;
    }
  }

  .navbar-inner {
    padding-left: 20px;
  }
}

.big-brand-name {
  font-size: 250px;
  font-weight: bold;
  color: #CCC;
  text-shadow: 1px 1px 1px rgb(255,255,255);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  z-index: -1;
  margin-left: -540px;
}

.form-horizontal .control-group {
  padding: 10px;
  background: rgba(245, 245, 245, 0.75);
  margin-bottom: 1px;
  border: 1px solid rgb(245, 245, 245);

  .radio.inline {
    margin-right: 20px;
    &.fixed-width { width: 120px; }
  }
}