@white: #fff;
@white_light: darken(@white,  5%);
@white_dark:  darken(@white, 20%);

@blue: #ADF;
@blue_light: lighten(@blue, 14%);
@blue_dark:  darken(@blue,  50%);

@red: red;
@red_light: lighten(@red, 45%);
@red_dark:  darken(@red,  15%);

@green: green;
@green_light: lighten(@green, 70%);
@green_dark:  darken(@green,   7%);

@yellow: yellow;
@yellow_light: lighten(@yellow, 40%);
@yellow_dark:  darken(@yellow,  30%);

@orange: orange;
@orange_light: lighten(@orange, 40%);
@orange_dark:  darken(@orange,  30%);

@black:  black;
@black_light: lighten(@black, 80%);
@black_dark:  darken(@black,  30%);
