.navbar.navbar-fixed-bottom.navbar-inverse
  .navbar-inner
    %a.brand{ href: root_path }
      Columns
    %ul.nav

      %li{ class: is_nav_item_active?('Dashboard') }
        %a{ href: root_path }
          %i.icon-th
          Dashboard

      %li{ class: is_nav_item_active?('Shortcuts') }
        = link_to new_shortcut_path do
          %i.icon-plus
          Shortcut

      %li{ class: is_nav_item_active?('Columns') }
        = link_to new_column_path do
          %i.icon-plus
          Column

      %li{ class: is_nav_item_active?('Arrange') }
        = link_to arrange_path do
          %i.icon-pencil
          Arrange

    %ul.nav.pull-right
      %li
        =link_to edit_user_registration_path(current_user) do
          %i.icon-user
          = current_user.email
      %li
        %a{ href: '#about-columns', 'data-toggle' => 'modal', 'data-target' => '#about-columns' }
          v1.0

#about-columns.modal.hide.fade{ tabindex: -1, role: 'dialog', 'aria-labelledby' => 'myModalLabel', 'aria-hidden' => 'true' }
  .modal-header
    %h3#myModalLabel About Columns
  .modal-body
    %p
      v1.0.1 (c)2012-2013
    %p
      written by Philip Claren
  .modal-footer
    %button.btn{ 'data-dismiss' => 'modal', 'aria-hidden' => 'true' } Close